body{
    background-color:black;
}


.img-logo{
    width: 100px;
    height: 50px;
}

.menu-topo{
    background-color:black;
}

.linha-menu{
    height: 80px;
    background-color:#FF0036;
}

.vitrine{
    margin-top: 50px;
}

.logo-vitrine{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.logo-vitrine h2{
    margin-top: 20px;
}

.foto-profile{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.foto-profile img{
   height: 400px;
   width: 400px;
}

.about{
    height: 400px;
    display: flex;
}

.text-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

